/* [Name] Theme */
.buffee-themepack1-[name] > .buffee-pane {
  background-color: [bg];
  color: [text];
}
.buffee-themepack1-[name] .buffee-zsel > pre {
  background-color: [selection-bg];
  mix-blend-mode: normal;
}
.buffee-themepack1-[name] .buffee-caret {
  background-color: [cursor];
}
.buffee-themepack1-[name] .buffee-rail,
.buffee-themepack1-[name] .buffee-status {
  background-color: [gutter-bg];
  color: [text];
}
