/* HN Theme */
.buffee-themepack1-hn > .buffee-pane {
  background-color: #F6F6EF;
  color: black;
}
.buffee-themepack1-hn .buffee-zsel > pre {
  background-color: #DCDCDA;
  mix-blend-mode: normal;
}
.buffee-themepack1-hn .buffee-caret {
  background-color: black;
}
.buffee-themepack1-hn .buffee-rail,
.buffee-themepack1-hn .buffee-status {
  background-color: #FF6602;
  color: black;
}
