/* Neo Theme */
.buffee-themepack1-neo > .buffee-pane {
  background-color: #0d0d0d;
  color: #00ff41;
}
.buffee-themepack1-neo .buffee-zsel > pre {
  background-color: #003b00;
  mix-blend-mode: normal;
}
.buffee-themepack1-neo .buffee-caret {
  background-color: #00ff41;
}
.buffee-themepack1-neo .buffee-rail,
.buffee-themepack1-neo .buffee-status {
  background-color: #0a2f0a;
  color: #00ff41;
}
